<%= form_for @contest, :html => {:class => 'form-horizontal', :role => 'form'} do |f| %>
  <% if @contest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contest.errors.count, "error") %> prohibited this contest from being saved:</h2>

      <ul>
      <% @contest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'form-control' %> 
  </div>
  <div class="form-group">
    <%= f.label :starts_in %>
    <%= f.text_field :starts_in, :class => 'date form-control' %>
  </div>

  <%= f.submit 'Salve', :class => 'btn btn-default' %>
  <%= link_to 'Back', contests_path, :class => 'btn btn-default' %>

<% end %>

<script type="text/javascript">
    $(function () {
        $('.date').datetimepicker();
    });
</script>