<p id="notice"><%= notice %></p>

<h1>Listing Contests</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Starts In</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @contests.each do |contest| %>
      <tr>
        <td><%= contest.name %></td>
        <td><%= contest.starts_in %></td>
        <td><%= link_to 'Subscribe', subscribe_path(contest), :class => 'btn btn-default' %></td>
        <td><%= link_to 'Show', contest, :class => 'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_contest_path(contest), :class => 'btn btn-default' %></td>
        <td><%= link_to 'Destroy', contest, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Contest', new_contest_path, :class => 'btn btn-default' %>
