<p id="notice"><%= notice %></p>

<h1>Listing Contests</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Starts In</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contests.each do |contest| %>
      <tr>
        <td><%= contest.name %></td>
        <td><%= contest.starts_in.strftime("%d/%m/%Y - %H:%M") %></td>
        <td>
          <% if current_user.has_subscribed(contest) %>
            <%= link_to 'My Wine', current_user.subscribed_wine(contest), :class => 'btn btn-default' %>
            <%= link_to 'Unsubscribe', unsubscribe_path(contest), data: { confirm: 'Are you sure?' }, :class => 'btn btn-default' %>
          <% else %>
            <% if !contest.has_ended? %>
              <%= link_to 'Subscribe', subscribe_path(contest), :class => 'btn btn-default' %>
            <% end %>
          <% end %>
          <%= link_to 'Competitors', contest, :class => 'btn btn-default' %>
          <% if can? :update, @contest %>
            <%= link_to 'Edit', edit_contest_path(contest), :class => 'btn btn-default' %>
          <% end %>
          <% if can? :destroy, @contest %>
            <%= link_to 'Destroy', contest, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, Contest.new %>
  <%= link_to 'New Contest', new_contest_path, :class => 'btn btn-default' %>
<% end %>