<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contest.name %>
</p>

<p>
  <strong>Starts In:</strong>
  <%= @contest.starts_in.strftime("%d/%m/%Y - %H:%M") %>
</p>

<table class="table table-hover">
  <thead>
    <th>Competitor</th>
    <% if @contest.has_ended? %>
      <th>Wine</th>
      <th>Grapes</th>
      <th>Year</th>
      <th>Vivino Score</th>
      <th>Price</th>
      <th>Grade</th>
      <th></th>
    <% end %>
  </thead>
  <tbody>
    <% @contest.wines.each do |wine| %>
      <tr <% if @contest.has_ended? %>class="result"<% end %>>
        <td><%= wine.user.email %></td>
        <% if @contest.has_ended? %>
          <td><%= wine.name %></td>
          <td>
            <% wine.grapes.each do |grape| %>
              <%= grape.name %><% if grape != wine.grapes.last %>, <% end %>
            <% end %>
          </td>
          <td><%= wine.year %></td>
          <td><%= wine.vivino_score %></td>
          <td><%= number_to_currency(wine.price, :unit => 'R$', :separator => ',') %></td>
          <td><%= wine.grade %></td>
        <% end %>
        <% if wine.disqualified? %>
          <td>Disqualified</td>
        <% else %>
          <% if can? :disqualify, wine %>
            <td><%= link_to 'Disqualify', disqualify_path(wine), :class => 'btn btn-default' %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :update, @contest %>
  <%= link_to 'Edit', edit_contest_path(@contest), :class => 'btn btn-default' %>
<% end %>
<%= link_to 'Show All', '#', :onclick => 'showAllResults();', :class => 'btn btn-default' %>
<%= link_to 'Back', contests_path, :class => 'btn btn-default' %>
