<%= form_for @grape, :html => {:class => 'form-horizontal', :role => 'form'} do |f| %>
  <% if @grape.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong><%= pluralize(@grape.errors.count, "error") %> prohibited this grape from being saved:</strong>

      <ul>
      <% @grape.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>

  <%= f.submit "Save", :class => 'btn btn-default' %>
  <%= link_to 'Back', grapes_path, :class => 'btn btn-default' %>
  
<% end %>
