<p id="notice"><%= notice %></p>

<h1>Listing Grapes</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grapes.each do |grape| %>
      <tr>
        <td><%= grape.name %></td>
        <td><%= link_to 'Show', grape, :class => 'btn btn-default' %></td>
        <% if can? :update, @grape %>
          <td><%= link_to 'Edit', edit_grape_path(grape), :class => 'btn btn-default' %></td>
        <% end %>
        <% if can? :destroy, @grape %>
          <td><%= link_to 'Destroy', grape, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Grape', new_grape_path, :class => 'btn btn-default' %>
