<%= form_for @wine, :html => {:class => 'form-horizontal', :role => 'form'} do |f| %>
  <% if @wine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wine.errors.count, "error") %> prohibited this wine from being saved:</h2>

      <ul>
      <% @wine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :contest_id %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :year %>
    <%= f.number_field :year, min: Date.today.year - 10, max: Date.today.year, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :grape %>
    <%= f.collection_select(:grape_id, Grape.order(:name).all, :id, :name, {:prompt => 'Select'}, :class => 'form-control') %>
  </div>
  <div class="form-group">    
    <%= f.label :vivino_score %>
    <%= f.number_field :vivino_score, :step => 0.5, min: 0, max: 5, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, :class => 'form-control' %>
  </div>

  <%= f.submit 'Save', :class => 'btn btn-default' %>
  <%= link_to 'Back', contests_path, :class => 'btn btn-default' %>

<% end %>
