<p id="notice"><%= notice %></p>

<h1>Listing Wines</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Year</th>
      <th>Grape</th>
      <th>Vivino Score</th>
      <th>Price</th>
      <th>Invoice</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wines.each do |wine| %>
      <tr>
        <td><%= wine.name %></td>
        <td><%= wine.year %></td>        
        <td><%= wine.grape.name %></td>        
        <td><%= wine.vivino_score %></td>
        <td><%= wine.price %></td>
        <td><%= wine.invoice %></td>
        <td><%= link_to 'Show', wine, :class => 'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_wine_path(wine), :class => 'btn btn-default' %></td>
        <td><%= link_to 'Destroy', wine, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wine', new_wine_path, :class => 'btn btn-default' %>