<p id="notice"><%= notice %></p>

<p>
  <strong>Contest:</strong>
  <%= @wine.contest.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @wine.name %>
</p>

<p>
  <strong>Grapes:</strong>
  <% @wine.grapes.each do |grape| %>
    <%= grape.name %><% if grape != @wine.grapes.last %>, <% end %>
  <% end %>
</p>

<p>
  <strong>Year:</strong>
  <%= @wine.year %>
</p>

<p>
  <strong>Vivino Score:</strong>
  <%= @wine.vivino_score %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@wine.price, :unit => 'R$', :separator => ',') %>
</p>

<%= link_to 'Edit', edit_wine_path(@wine), :class => 'btn btn-default' %>
<%= link_to 'Back', contests_path, :class => 'btn btn-default' %>