<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wine.name %>
</p>

<p>
  <strong>Grape:</strong>
  <%= @wine.grape.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @wine.year %>
</p>

<p>
  <strong>Vivino Score:</strong>
  <%= @wine.vivino_score %>
</p>

<p>
  <strong>Price:</strong>
  <%= @wine.price %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @wine.invoice %>
</p>

<%= link_to 'Edit', edit_wine_path(@wine) %> |
<%= link_to 'Back', wines_path %>