<!DOCTYPE html>
<html>
<head>
  <title>Bestwine</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Contests", contests_path %></li>
      <li><%= link_to "Wines", wines_path %></li>
      <li><%= link_to "Grapes", grapes_path %></li>
    </ul>
  </nav>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
